[Unit]
Description=ammp-connect WireGuard tunnel
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
RuntimeDirectory=wireguard
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity
ExecStartPre=/usr/local/bin/set_wg_config.sh
ExecStart=/usr/bin/wg-quick up /run/wireguard/wg0.conf
ExecStop=/usr/bin/wg-quick down /run/wireguard/wg0.conf
Restart=on-failure
RestartSec=30
# Ensures infinite retries
StartLimitIntervalSec=0
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target