[Unit]
Description=Regenerate SSH Keys on First Boot
DefaultDependencies=no
Requires=remount-rw.service
After=local-fs.target
Before=sshd.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'rm -f /etc/ssh/ssh_host_*_key*'
ExecStart=ssh-keygen -t ed25519 -f /etc/ssh/ssh_host_ed25519_key
ExecStart=ssh-keygen -t ecdsa -f /etc/ssh/ssh_host_ecdsa_key
ExecStartPost=/usr/bin/systemctl disable %n
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
